{% extends 'base.html' %}
{% block title %}
    Nihongo Gaido - Tradução
{% endblock title %}

{% block content %}

{% if text_traducao %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-8" style="text-align:justify;">
                {{text_traducao.texto_traducao|safe}}
            </div>
            <hr>
            <div class="text-buttons mb-4 ">
                <a class="btn-edit-text" href="{% url 'text:text_traducao_update' text_traducao.slug %}">Editar tradução</a>
                <a class="btn-delete-text confirm-delete-text" id="deleteButton{{text_traducao.slug}}" href="{% url 'text:text_traducao_delete' text_traducao.slug %}" data-bs-toggle="modal" data-bs-target="#confirmDeleteModalText">Deletar Tradução</a>
                <a class="btn-translate" href="{% url 'text:text_view' text_traducao.slug %}">Voltar</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDeleteModalText" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" caller-id="" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-danger">
              <h5 class="modal-title" id="staticBackdropLabel">Deseja excluir?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body confirm-delete-text">
              Os dados serão apagados do banco de dados!<br>Dejesa apagá-los mesmo assim?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmDeleteButtonModalText">Sim, desejo apagar</button>
            </div>
          </div>
        </div>
    </div>   
{% else %}
<div class='text-center mt-4'>
    <h2>Não há traduções cadastradas</h2>
</div> 
{% endif %}
<script>
  document.getElementById('home').classList.remove('active'); // Adiciona classe

  document.getElementById('gramatica').classList.remove('active'); // Remove classe
  document.getElementById('texto').classList.add('active'); // Remove classe
  document.getElementById('vocabulario').classList.remove('active'); // Remove classe
  document.getElementById('sobre').classList.remove('active'); // Remove classe
  document.getElementById('profile').classList.remove('active'); // Remove classe
</script>
    
  
    
{% endblock content %}