{% extends 'base.html' %}

{% block content %}
{% if form_senha.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Preencha o formulário de forma correta!
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
    </div>

{% endif %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-3">
                
        </div>

        <div class=" shadow p-4 bg-body rounded mb-5 col-md mt-5">
            <h1>Insira a nova senha</h1>
            <hr>
            <p class="p-pass">Digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
            <form method="POST" class="teste-login">
                {% csrf_token %}
                {{form}}
            
                <input class="btn btn-pass btn" type="submit" value="Atualizar senha">
            </form>
        </div>

        <div class="col-md-3">
        </div>
    </div>
        
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}