{% extends "base-auth.html" %}
{% load static %}
{% block title %}
    Alterar senha - Nihongo Gaido
{% endblock title %}
{% block content %} 
  
  <!--Password Reset Complete-->
    <div class="container">
      <div class="row">
        <div class="m-3 p-5 text-center shadow">
          <div class="col-sm-12 gl-text-center">
            <img class="gl-w-10" alt="Nihongo Gaido" src="{% static 'imgs/Nihongo-Gaido-1.png' %}">
            <h1 class="mb-1 gl-font-size-h2">Nihongo Gaido</h1>
            <div class="content-reset">
              <h1>Redefinição de senha concluída</h1>
              <p>Sua senha foi definida. Você pode ir em frente e entrar agora.</p>   
              <a href="{% url 'user:logar_user' %}"  class=" btn btn-login mb-3">Fazer login</a>
            </div>
          </div>
      </div>
    </div>

{% endblock %}