{% extends 'base-auth.html' %}
{% load static %}
{% block content %}
<div class="body">
 <form method="POST" class="shadow">
     {% csrf_token %}
     <div class="mt-3 text-center">
        <div class="col-sm-12 gl-text-center">
          <img class="gl-w-10" alt="Nihongo Gaido" src="{% static 'imgs/Nihongo-Gaido-1.png' %}">
          <h1 class="mb-1 gl-font-size-h2">Nihongo Gaido</h1>
          <h2 class="font-weight-bold">Redefinir senha</h2>
        </div>
      </div>
      
      <div class="content-reset">
        <p>Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail com instruções para configurar um novo.</p>
        {% for field in password_reset_form %}
        <div class="input-reset">
            <label>{{field.label}}</label>
            {{field}}
            <button class="btn-login">Enviar email</button>
        </div>
        {% endfor %}
        
      </div>                   
 </form>
</div> 
{% endblock content %}