{% extends 'base-auth.html' %}
{% load static %}
{% block title %}
    Alterar senha - Nihongo Gaido
{% endblock title %}
{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="m-3 p-5 text-center shadow">
            <div class="col-sm-12 gl-text-center">
              <img class="gl-w-10" alt="Nihongo Gaido" src="{% static 'imgs/Nihongo-Gaido-1.png' %}">
              <h1 class="mb-1 gl-font-size-h2">Nihongo Gaido</h1>
              <div class="content-reset">
                <h1>Redefinição de senha enviada</h1>
                <p>Enviamos um e-mail com instruções para definir sua senha, caso exista uma conta com o e-mail que você digitou. Você deve recebê-los em breve.<br>Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou e verifique sua pasta de spam.</p>
              </div>
            </div>
        </div>
        
    </div>
        
</div>

{% endblock %}