{% extends 'base.html' %}
{% load static %}
{% block title %}
    Nihongo Gaido - Conjugação {{conjugations.present}}
{% endblock%}

{% block content %}
    {% for msg in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
    </div>
    {% endfor %}


    <div class="container">
        {% if conjugations %}
            <div class="div-text">
                <h2 class='h2 text-center mt-4'>Conjugações - {{conjugations.present}}</h2>
                <hr>
            </div>

            <div class="content">
                <div class="list">
                    <ul>
                        <li><strong>Presente</strong>: {{conjugations.present}}</li>
                        <li><strong>Negativo</strong>: {{conjugations.negative}}</li>
                        <li><strong>Passado</strong>: {{conjugations.past}}</li>
                        <li><strong>Forma - て</strong>: {{conjugations.te_form}}</li>
                        <li><strong>Volotiva</strong>: {{conjugations.volitional}}</li>
                        <li><strong>Potencial</strong>: {{conjugations.potential}}</li>
                        <li><strong>Imperativo</strong>: {{conjugations.imperative}}</li>
                        <li><strong>Causativo</strong>: {{conjugations.causative}}</li>
                        <li><strong>Condicional</strong>: {{conjugations.conditional}}</li>
                        <li><strong>Passivo</strong>: {{conjugations.passive}}</li>
                        
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="div-text">
                <h2 class='h2 text-center mt-4'>Conjugações</h2>
                <hr>
            </div>
            <div class="div-buttons"><a class="btn-add" href="#"> <i class="fa fa-plus"></i> Add conjugação</a></div>
            <div class='text-center mt-4'>
                <h2>Não há dados cadastrados</h2>
            </div>
        {% endif %}
    </div>
{% endblock content %}