{% extends 'base.html' %}
{% load static %}
{% block title %}
    Nihongo Gaido - Vocabulário
{% endblock%}

{% block content %}
    {% for msg in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
    </div>
    {% endfor %}

    <div class="container">
        <div class="div-text">
            <h2 class='h2 text-center mt-4'>Vocabulário</h2>
            <hr>
            <div class = "div-search-add">
        
              <div class="div-buttons"><a class="btn-add" href="{% url 'vocabulary:add_word' %}"> <i class="fa fa-plus"></i> Add nova palavra</a></div>
              
        
              <div class="search">
                <form method="GET" action="." class="form-busca">
                  <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group mt-2">
                            <input class="form-control py-2 border-right-0 border" type="search" name="palavra_contains" placeholder="Pesquisar por palavra..." />
                            <span class="input-group-append">
                                <div class="input-group-text bg-transparent p-3">
                                    <i class="fa fa-search"></i>
                                </div>
                            </span>
                        </div>
                    </div>        
                  </div>
                  
                  <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group mt-2">
                            <input class="form-control py-2 border-right-0 border" type="search" name="categoria_contains" placeholder="Pesquisar por categoria..." />
                            <span class="input-group-append">
                                <div class="input-group-text bg-transparent p-3">
                                    <i class="fa fa-search"></i>
                                </div>
                            </span>
                        </div>
                    </div>        
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group mt-2 mb-2">
                          <select name="select" class="form-control py-2 border-right-0 border">
                            <option value="">Nível</option>
                            <option value="N5">N5</option>
                            <option value="N4">N4</option>
                            <option value="N3">N3</option>
                            <option value="N2">N2</option>
                            <option value="N1">N1</option>
                            <option value="UNKNOW">UNKNOW</option>
                            
                          </select>
                          <!---<input class="form-control py-2 border-right-0 border" type="search" name="nivel_contains" placeholder="Pesquisar por nível..." />!-->
                          <span class="input-group-append">
                              <div class="input-group-text bg-transparent p-3">
                                  <i class="fa fa-search"></i>
                              </div>
                          </span>
                        </div>
                    </div>        
                  </div>
        
                  <button type="submit" class="btn-search">Buscar</button>
                </form>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="div-table col-8">
                {% if words %}
                    {% for word in words %}
                    <div class="accordion accordion-flush shadow p-3 mb-5 bg-body rounded" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{word.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                                {{word.palavra}}
                            </button>
                          </h2>
                          <div id="flush-collapseOne{{word.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="accordion-list">
                                    <ul>
                                        <li><strong>Leitura</strong> : {{word.leitura}}</li>
                                        <li><strong>Tradução</strong> : {{word.traducao}}</li>
                                        <li><strong>Nível</strong> : {{word.nivel}}</li>
                                        <li><strong>Tipo</strong> : {{word.tipo}}</li>
                                        <li><strong>Antônimo</strong> : {{word.antonimo}}</li>
                                        <li><strong>Grupo</strong> : {{word.grupo}}</li>
                                        <li><strong>Categoria</strong> : {{word.categoria}}</li>
                                    </ul>
                                </div>    
                                
                                <div class="buttons">
                                    <a class="btn-edit" href="#">Editar palavra</a>
                                    <a class="btn-delete" href="#">Excluir palavra</a>
                                    <a class="btn-conjugation" href="{% url 'vocabulary:conjugation_list' word.slug %}">Ver conjugação</a>
                                    <a class="btn-exemple" href="#">Ver exemplos</a>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                {% else %}
                    <div class='text-center mt-4'>
                        <h2>Não há dados cadastrados</h2>
                    </div>
                {% endif %}
            </div>
            <div class="col-4">
                <ul class="list-group">
                    <h3>Categorias: </h3>
                    {% for categoria in categorias %}
                        <li class="list-group-item">{{categoria.nome}}</li>
                    {% endfor %}
                    <div class="div-btn-cat">
                        <a class="btn-categoria" href="">Adicionar categoria</a>
                    </div>
                  </ul>
            </div>
        </div>
        
    </div>
{% endblock content %}