{% extends "base.html" %}

{% block title %}
Editar palavra - Nihongo Gaido
{% endblock title %}

{% block content %}
{% include "./partials/messages.html" %}
<div class="form-container-form">
    <form method="post">
        {% csrf_token %}
        <div class="inputs-grammar">
            <h2>Editar palavra</h2>
            {% for field in form_vocabulary %}
                <div class="inputs-grammar-box">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <div class="btn-div">
                <input type="submit" name="vocabulary" value="Salvar alterações"/>
            </div>
        </div>
    </form>
</div>
<script>
    document.getElementById('home').classList.remove('active'); // Adiciona classe
  
    document.getElementById('gramatica').classList.remove('active'); // Remove classe
    document.getElementById('texto').classList.remove('active'); // Remove classe
    document.getElementById('vocabulario').classList.add('active'); // Remove classe
    document.getElementById('sobre').classList.remove('active'); // Remove classe
    document.getElementById('profile').classList.remove('active'); // Remove classe
  </script>

{% endblock content %}

