@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    font-family: Roboto Condensed;
}
.topnav{
    background-color: #68D89B;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #fff;
    text-align:center ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #8DFFCD;
}

.topnav a.active{
    background-color: #4F9D69;
    color: #fff;
}