@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Roboto Condensed;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #68D89B;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo img{
    width: 100px;
}

nav .logo{
    position: relative;
    top: -10px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    background-color: #4F9D69;
    color: #fff;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}

form{
    background-color: white;
    max-width: 1000px;
    width: 70%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    z-index: -1;
}

.div-alert{
    width: 65%;
    margin: 0 auto;
}

.form{
    max-width:500px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

form input[type=text],
form input[type=password],
form input[type=email],
select{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 10px;
    outline: none;
}

form input[type=password]:focus{
    outline: none;
    background-color: white;
}

form input[type=text]:focus{
    outline: none;
}
.btn-login{
    width: 100%;
    height: 45px;
    cursor: pointer;
    background: #68D89B;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    transition: 1s;
    margin-bottom: 10px;
}

.btn-login:hover{
    background: #4F9D69;
}

span{
    font-size: 15px;
}

.link{
    color: #68D89B;
    text-decoration: none;
}

.link:hover{
    color: #4F9D69;
}

label{
    font-weight: bold
}



/* css register*/

.inputs-register{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    max-width:500px;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}


.input-box .input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box .input:hover{
   background-color: #ffff;
}


.home-btn{
    text-decoration: none;
    width: 100%;
    height: 45px;
    cursor: pointer;
    background: #68D89B;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    transition: 1s;
    padding: 10px;
    margin-bottom: 10px;
}

.home-btn:hover{
    background: #4F9D69;
    color: white;
}

.div-btn{
    margin-top: 80px;
}

.h1-div{
    margin-top: 40px;
}


.content-reset{
    width: 50%;
    margin: 0 auto;
    padding: 30px;
}

.input-reset{
    width: 100%;
    padding: 10px;
}

.reset-btn{
    text-decoration: none;
    width: 100%;
    height: 45px;
    cursor: pointer;
    background: #68D89B;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    transition: 1s;
    padding: 10px;
    margin-bottom: 10px;
}

.reset-div-btn{
    margin-top: 20px;
}



/*dropdown */

li.dropdown-nav{
    display: inline-block;
}

.dropdown-nav-content{
    display: none;
    position: absolute;
    background-color: #68D89B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

i{
    margin-right: 5px;
}

.dropdown-nav-content a{
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-nav-content a:hover {background-color: #4F9D69;}

.dropdown-nav:hover .dropdown-nav-content {
  display: block;
}



/*footer*/

.footer-base{
    padding: 40px 0;
    background-color: #68D89B;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #4F9D69;
}

.logo-footer span{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
}

.logo-footer img{
    width: 80px;
}

.footer-base ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer-base ul li a{
    color: inherit;
    text-decoration: none;
    color: #fff;
}

.footer-base ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer-base ul li a:hover{
    text-decoration: underline;
    color: #fff;
}

.footer-base .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

/* forms */

.inputs-grammar{
    padding: 40px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 100%;
    box-shadow: 1px 1px 6px #0000001c;
}

.inputs-grammar h2{
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    color: #68D89B;
}

.inputs-grammar-box{
   
    padding: 0 30px;
    margin: 20px;
}


.btn-div{
    text-align: center;
}


.btn-div input{
    outline: none;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    background-color: #68D89B;
    border-radius: 10px;
    transition: 1s ease;
}

.btn-div input:hover{
    background-color: #4F9D69;
    letter-spacing: 2px;
}


.form-container{
    margin: 20px;
    padding: 20px;
}
.form-container-senha{
    margin-top: 50px;
    padding: 20px;
}
.form-container-form{
    margin: 0;
    padding: 0;
}



/* list table */

.container .div-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px;
}

.container .div-text-frase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.container h2{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    color: #4F9D69;
}
.container .div-text hr{
    border: 1px solid #68D89B;
    width: 100%;
}
.container .div-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.container .div-buttons .btn-add{
    width: 190px;
    background-color: #68D89B;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.container .div-buttons .btn-add:hover{
    background-color: #4F9D69;
    width: 190px;
    letter-spacing: 2px;
    box-shadow: 6px 6px 1px #0000001c;
    transition: 0.6s ease;
}
.container .div-buttons .btn-back:hover{
    background-color: #420042;
    letter-spacing: 2px;
    box-shadow: 6px 6px 1px #0000001c;
}
.container .div-buttons .btn-add:hover{
    background-color: #4F9D69;
    width: 210px;
    letter-spacing: 2px;
    box-shadow: 6px 6px 1px #0000001c;
    transition: 0.6s ease;
}

.container .div-buttons .btn-back{
    width: 150px;
    background-color: #660066;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}


.div-table{
    padding: 0 20px;
    margin-bottom: 40px;
}

.div-table-frase{
    padding: 20px;
    margin-bottom: 40px;
}
.table-css{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;;
    box-shadow: 6px 6px 6px #0000001c;
}

.btn-table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-table a{
    margin: 10px;
    font-size: 20px;
}

.btn-frase {
    text-decoration: none;
    background-color: #660066;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}
.btn-frase:hover {
    background-color: #420042;
    color: #fff;
    box-shadow: 6px 6px 1px #0000001c;
    transition: 0.6s ease;
}

.btn-edit i{
    color: #664e00;
}
.btn-edit i:hover{
    color: #493800;
    transform: scale(1.5);
    transition: 0.6s ease;
    
}
.btn-detail i{
    color: #660066;
}
.btn-detail i:hover{
    color: #660066;
    transform: scale(1.5);
}
.btn-delete i{
    color: #c00303;
}
.btn-delete i:hover{
    transform: scale(1.5);
    color: #8a0000;
    transition: 0.6s ease;
}


.table-css td, .table-css th{
    padding: 12px 15px;
    
}

.table-css td:last-child, .table-css th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.table-css td:first-child, .table-css th:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-css th{
    text-align: center;
    background-color: #68D89B;
    color: #fff;
}

.table-css tr:nth-child(even){background-color: #d0ffe5;}

/*card */

.btn-card-edit{
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    padding: 12px 29px;
    font-size: 16px;
    background-color: #664e00;
    color: #fff;
    border-radius: 5px;
}

.btn-card-delete{
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    padding: 12px 29px;
    font-size: 16px;
    background-color: #c00303;
    color: #fff;
    border-radius: 5px;
}

.btn-card-edit:hover{
    color: #fff;
    background-color: #493800;
    box-shadow: 6px 6px 1px #0000001c;
    transition: 0.6s ease;
}

.btn-card-delete:hover{
    color: #fff;
    background-color: #8a0000;
    box-shadow: 6px 6px 1px #0000001c;
    transition: 0.6s ease;
}


.div-pagination{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
}

.div-pagination .paginacao{
    width: 250px;

}

.qtn-itens{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    margin-top: 0px;
}

.qtn-itens span{
    margin-right: 10px;
}

.qtn-itens ul{
    text-align: center;
    margin-top: 20px;
}


.page-link {
    position: relative;
    display: block;
    color: #4F9D69;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4F9D69;
    border-color: #4F9D69;
}


.search{
    width: 100%;
}

.form-busca{
    width: 100%;
}
.div-search-add{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.input-search{
    width: 200px;
    padding: 12px 20px;
}

/*Profile*/

.row-margin{
    margin: 50px;
    padding: 20px;
}

.btn-profile-voltar{
    color: white;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-profile-voltar:hover{
    background-color: #ca9a0b;
    border-color: #ca9a0b;
}

.btn:hover {
    color: white;
}

.info-span{
    font-weight: bold;
    font-size: 25px;
    color: #4F9D69;
}

.table-profile .td-profile{
    font-weight: bold;
    color: #4F9D69;
    
}

.btn-margin{
    margin-top: 38px;
}

/*Profile form*/
.container-img{
    position: relative;
    width: 50%;
}

.img-perfil{
    display: block;
    width: 250px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4F9D69;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: .7;
    
}

.container-img:hover .overlay{
    width: 250px;
}

.text{
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.title-form{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    color: #4F9D69;
}

input[type="file"] {
    outline: none;
    border: none;
    background-color: #4F9D69;
    color: white;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
}

.div-btn-form{
    width: 400px;
    margin: 0 auto;
}

img{
    width: 10rem;
}

.gl-font-size-h2 {
    font-size: 1.1875rem;
}

.gl-pt-5 {
    padding-top: 1rem;
}

.gl-px-5 {
    padding-left: 1rem;
    padding-right: 1rem;
}


