{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/style-21.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsivo-1.css' %}">
    <link rel="icon" href="{% static 'imgs/Nihongo-Gaido-1.png' %}" type="image/gif" sizes="16x16">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{% url 'pages:home' %}"><img src="{% static 'imgs/Nihongo-Gaido-1.png' %}"></a>
        </div>

        <div class="menu-btn">
            <i class="fa fa-bars fa 2x" onclick="menuShow()"></i>
        </div>

        <ul>
            <li><a class="active" href="{% url 'pages:home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li><a href="{% url 'grammar:grammar_list'%}"><i class="fa fa-book" aria-hidden="true"></i>Grammar</a></li> 
            <li class = "dropdown-nav">
                <a href="javascript:void(0)"class="dropbtn"><i class="fa fa-pencil" aria-hidden="true"></i>Text <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-nav-content">
                    <a href="{% url 'text:text_list' %}">Traduzir texto</a>
                    <a href="#">Escrever texto</a>
                </div>
            </li> 
            <li><a href="{% url 'pages:sobre' %}"><i class="fa fa-info-circle" aria-hidden="true"></i>Sobre</a></li>
            <li class = "dropdown-nav">
                {% if user.is_authenticated%}
                    <a href="javascript:void(0)"class="dropbtn"><i class="fa fa-user-circle-o" aria-hidden="true"></i>{{user.username}} <i class="fa fa-caret-down"></i></a>
                {% else %}
                    <a href="javascript:void(0)"class="dropbtn"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Login <i class="fa fa-caret-down"></i></a>
                {% endif %}
                <div class = "dropdown-nav-content">
                    {% if user.is_authenticated %}
                        <a href="{% url 'user:profile_page' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Perfil</a>
                        <a href="{% url 'user:mudar_senha' %}"><i class="fa fa-lock"></i></i>Mudar senha</a>
                        <a href="{% url 'user:deslogar_user' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></i>Sair</a>
                    {% else %}
                        <a href="{% url 'user:logar_user' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Entrar</a>
                        <a href="{% url 'user:cadastro_user'%}"><i class="fa fa-user" aria-hidden="true"></i>Cadastrar-se</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </nav>
       
    {% block content %}
    {% endblock content %}

    {% block footer %}
    <section class="footer-base">
        <div class="logo-footer">
            <a href="{% url 'pages:home' %}"><img src="{% static 'imgs/Nihongo-Gaido-1.png' %}"></a>
            <span>Nihongo Gaido</span>
        </div>

        <ul>
            <li>
                <a href="{% url 'pages:home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'grammar:grammar_list'%}">Grammar</href=>
            </li>
            <li>
                <a href="{% url 'pages:sobre' %}">Sobre</a>
            </li>
        </ul>
        <p class="copyright">
            Nihongo Gaido&copy; 2022
        </p>
    </section>
    {% endblock footer %}
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        /////grammar_app modal
        $(document).on('click', '.confirm-delete', function () {
            $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
          });
    
        $(document).on('click', '#confirmDeleteButtonModal', function () {
          var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
          window.location = $("#".concat(caller)).attr("href");
        });

        /////phrase_app modal
        $(document).on('click', '.confirm-delete-phrase', function () {
            $("#confirmDeleteModalPhrase").attr("caller-id", $(this).attr("id"));
          });
    
        $(document).on('click', '#confirmDeleteButtonModalPhrase', function () {
          var caller = $("#confirmDeleteButtonModalPhrase").closest(".modal").attr("caller-id");
          window.location = $("#".concat(caller)).attr("href");
        });
       
        /////text_app modal
        $(document).on('click', '.confirm-delete-text', function () {
            $("#confirmDeleteModalText").attr("caller-id", $(this).attr("id"));
          });
    
        $(document).on('click', '#confirmDeleteButtonModalText', function () {
          var caller = $("#confirmDeleteButtonModalText").closest(".modal").attr("caller-id");
          window.location = $("#".concat(caller)).attr("href");
        });
       

        function menuShow(){
            var ele = document.getElementById("itens");
            console.log(ele);
            if(ele.style.display === "flex"){
                ele.style.display = "none";
            }else{
                ele.style.display = "flex"
            }
        }

    </script>
    <script src="{% static 'jquery/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/mask.js' %}"></script>
</body>
</html>