{% extends "base-auth.html" %}
{% load static %}

{% block title %}Entrar - Nihongo Gaido{% endblock %}
{% block content %}
{% if messages%}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
            </div>
        {% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="bg-body rounded mb-5 col-md mt-5">
            <div class="mt-3 text-center">
                <div class="col-sm-12 gl-text-center">
                  <img class="gl-w-10" alt="Nihongo Gaido" src="{% static 'imgs/Nihongo-Gaido-1.png' %}">
                  <h1 class="mb-3 gl-font-size-h2">Nihongo Gaido</h1>
                </div>
              </div>
            <form method="POST" action="{% url 'user:logar_user' %}" class="teste-login">
                {% csrf_token %}
                <div class="group-form gl-px-5 gl-pt-5">
                    <label>Username</label>
                    <input name="username" class="form-control input" type="text" placeholder="Username...">
                </div>
                <div class="group-form gl-px-5 gl-pt-5">
                    <label>Senha</label>
                    <input name="password" class="form-control input" type="password" placeholder="Senha...">
                </div>
                <div class="text-center m-2">
                    <a href="#">Esqueceu a senha? Clique aqui!</a>
                </div>
               
                
                <input class="btn btn-login btn-lg" type="submit" value="Login">
                <a href="#" class="btn btn-register-log btn-lg">Cadastre-se</a><br><br>
                
            </form>
        </div>

        <div class="col-md-3">
            
        </div>
    </div>
</div>
{% endblock content %}
