<div  class="mb-2">
    <h4>Lista de frases:</h4>
    <div class="qtn-itens">
        <span>Itens por página:</span>
        <ul class="pagination pagination-sm test">
        {% for qnt in quantidade_por_pagina %}
            {% if qnt == qnt_pagina %}
            <li class="page-item active"><a class="page-link" href="#">{{qnt}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'example:example_list' word.slug%}?limit={{qnt}}">{{qnt}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>