{% extends 'base.html' %}
{% block title %}Home - Nihongo Gaido{% endblock title %}
{% block content %}
{% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
    </div>
{% endfor %}
<div class="container">
    <div class="row">
        <div class="content text-center">
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ullamcorper est. Cras hendrerit velit vel viverra facilisis. 
                Sed ut auctor justo. Donec eleifend ultrices purus eu luctus. Proin faucibus blandit enim, efficitur ultrices quam auctor non. 
                Praesent porttitor eu elit a consectetur. Aenean non lorem augue. In quis ante sed leo malesuada sagittis. Aenean aliquam eu quam eu laoreet. 
                Integer pharetra ex ut urna consectetur condimentum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ullamcorper est. Cras hendrerit velit vel viverra facilisis. 
                Sed ut auctor justo. Donec eleifend ultrices purus eu luctus. Proin faucibus blandit enim, efficitur ultrices quam auctor non. 
                Praesent porttitor eu elit a consectetur. Aenean non lorem augue. In quis ante sed leo malesuada sagittis. Aenean aliquam eu quam eu laoreet. 
                Integer pharetra ex ut urna consectetur condimentum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ullamcorper est. Cras hendrerit velit vel viverra facilisis. 
                Sed ut auctor justo. Donec eleifend ultrices purus eu luctus. Proin faucibus blandit enim, efficitur ultrices quam auctor non. 
                Praesent porttitor eu elit a consectetur. Aenean non lorem augue. In quis ante sed leo malesuada sagittis. Aenean aliquam eu quam eu laoreet. 
                Integer pharetra ex ut urna consectetur condimentum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ullamcorper est. Cras hendrerit velit vel viverra facilisis. 
                Sed ut auctor justo. Donec eleifend ultrices purus eu luctus. Proin faucibus blandit enim, efficitur ultrices quam auctor non. 
                Praesent porttitor eu elit a consectetur. Aenean non lorem augue. In quis ante sed leo malesuada sagittis. Aenean aliquam eu quam eu laoreet. 
                Integer pharetra ex ut urna consectetur condimentum.
            </p>
        </div>
    </div>
</div>
{% endblock content %}