{% extends 'base.html' %}
{% load static %}
{% block title %}Nihongo Gaido - Sobre{% endblock title %}
{% block content %}
<div class="container">
    <h2 class="text-center p-3">Nihongo Gaido</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Nihongo Gaido</h3>
            <p>
                Nihongo gaido é um sistema simples com o intuito de ajudar aqueles que estão estudando japonês. Atualmente o sistema não tem muitas
                features avançadas pois etá na sua primeira versão, mas consegue dar conta do recado. O sistema foi desenvolvido por apenas uma pessoa utilizando Django e python.
                Tendo em vista que o desenvolvimento desse sistema foi mais para uso pessoal do que comercial, ele se torna simples. Futuramente o desenvolvedor pensa
                em melhorar o sistema e quem sabe, tenta a sorte no mercado.

            </p>

            <h3>Para que serve o Nihongo Gaido?</h3>
            <p>
                O sistema tem como objetivo ajudar nos estudo da língua japonesa. Onde futuramente o sistema possa
                ter uma atualização se adaptando para demais idiomas desejados pelo os usuários.
            </p>
        </div>

        <div class="col-md-6">
            <h3>Sobre o desenvolvedor</h3>
            <img src={% static 'imgs/WhatsApp_Image_2022-06-14_at_11.27.56.jpeg' %}>
            <p>
                Meu nome é Renildo Rabi Vale Dos Santos e tenho 23 anos, sou amante da cultura e língua japonesa. Venho tentando juntar a minha paixão sobre o Japão
                com desenvolvimento web. Atualmente estou no curso de Sistemas de Informação da UFRN campus Caicó.
            </p>
        </div>
    </div>
    <div class="row">
        <div>
            <h3>Contatos e Links</h3>
            <ul>
                <li>
                    <a href="https://github.com/Renildo15" target="_blank">
                        Github <i class= "fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto: renildorabi22@gmail.com?subject=Olá, estou interessado no seu projeto." target="_blank">
                        Email <i class= "fa fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/renildo-rabi-vale-dos-santos-992127201/" target="_blank">
                        Linkedin <i class= "fa fa-linkedin"></i>
                    </a>
                </li>
                
            </ul>
        </div>
        <div>
            <img>
        </div>
    </div>
</div>
<script>
    document.getElementById('home').classList.remove('active'); // Adiciona classe

    document.getElementById('gramatica').classList.remove('active'); // Remove classe
    document.getElementById('texto').classList.remove('active'); // Remove classe
    document.getElementById('vocabulario').classList.remove('active'); // Remove classe
    document.getElementById('sobre').classList.add('active'); // Remove classe
    document.getElementById('profile').classList.remove('active'); // Remove classe
</script>

{% endblock content %}