{% extends 'base.html' %}
{% load static %}
{% block title %}Nihongo Gaido - Sobre{% endblock title %}
{% block content %}
<div class="container">
    <h2 class="text-center p-3">Nihongo Gaido</h2>
    <hr>
    <div class="row">
        <div>
            <h3>Para que serve o Nihongo Gaido?</h3>
            <p>O sistema tem como objetivo ajudar nos estudo da língua japonesa. Onde futuramente o sistema possa
                ter uma atualização se adaptando para demais idiomas desejados pelo o usuário.
            </p>
        </div>
        <div>
            <img>
        </div>
    </div>
</div>

{% endblock content %}