{% extends "base.html" %}
{% load static %}
{% block title %}
    Nihongo Gaido - Gramatica
{% endblock%}

{% block content %}
{% for msg in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
    </div>
{% endfor %}
<div class="container">
  <div class="div-text">
    <h2 class='h2 text-center mt-4'>Lista de Gramática</h2>
    <hr>
    <div class = "div-search-add">

      <div class="div-buttons"><a class="btn-add" href="{% url 'grammar:add_grammar' %}"> <i class="fa fa-plus"></i> Add nova gramática</a></div>
      

      <div class="search">
        <form method="GET" action="." class="form-busca">
          <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group mt-2">
                    <input class="form-control py-2 border-right-0 border" type="search" name="grammar_contains" placeholder="Pesquisar por gramática..." />
                </div>
            </div>        
          </div>
          
          <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group mt-2">
                    <input class="form-control py-2 border-right-0 border" type="search" name="estrutura_contains" placeholder="Pesquisar por estrutura..." />
                </div>
            </div>        
          </div>

          <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group mt-2 mb-2">
                  <select name="select" class="form-control py-2 border-right-0 border" style = "color: #4F9D69;">
                    <option value="">Nível</option>
                    <option value="N5">N5</option>
                    <option value="N4">N4</option>
                    <option value="N3">N3</option>
                    <option value="N2">N2</option>
                    <option value="N1">N1</option>
                    <option value="UNKNOW">UNKNOW</option>
                    
                  </select>
                </div>
            </div>        
          </div>

          <button type="submit" class="btn-search">Buscar</button>
        </form>
      </div>
    </div>
    

  </div>
  <div class="div-table">
  {% if grammar %}
    <div class="qtn-itens">
      <span>Itens por página:</span>
      <ul class="pagination pagination-sm test">
        {% for qnt in quantidade_por_pagina %}
          {% if qnt == qnt_pagina %}
            <li class="page-item active"><a class="page-link" href="#">{{qnt}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'grammar:grammar_list'%}?limit={{qnt}}">{{qnt}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <table class="table-css">
      <thead>
        <tr>
          <th>Gramática</th>
          <th>Estrutura</th>
          <th>Nível</th>
          <th>Frases</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for g in grammar%}
        <tr>
          <td data-label="Gramática">{{g.gramatica}}</td>
          <td data-label="Estrutura">{{g.estrutura}}</td>
          <td data-label="Nível">{{g.nivel}}</td>
          <td data-label="Frases"><a class="btn-frase" href="{% url 'phrase:phrases_list' g.id %}"><i class="fa fa-eye"></i></a></td>
          <td data-label="Opções" class="btn-table">
            <a class="btn-edit" href="{% url 'grammar:grammar_edit' g.id %}"><i class="fa fa-edit"></i></a>
            <a id="deleteButton{{g.id}}" class="btn-delete confirm-delete" href="{% url 'grammar:grammar_delete' g.id %}" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"><i class="fa fa-trash"></i></a>
            
          </td>
        </tr>
        <div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" caller-id="" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header text-danger">
                <h5 class="modal-title" id="staticBackdropLabel">Deseja excluir?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body confirm-delete">
                Os dados serão apagados do banco de dados!<br>Dejesa apagá-los mesmo assim?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmDeleteButtonModal">Sim, desejo apagar</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
    <div class="div-pagination">
      <div class="paginacao">
        <div class="paginacao-content">
          <ul class="pagination">
            {% if grammar.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'grammar:grammar_list'%}?limit{{qnt_pagina}}&page={{grammar.previous_page_number}}" tabindex="-1" aria-disabled="true">Anterior</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
              </li>
            {% endif %}
            
            {% for num in grammar.paginator.page_range %}
              {% if num == grammar.number %}
                  <li class="page-item active">
                    <a class="page-link" href="#">{{num}}</a>
                  </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'grammar:grammar_list' %}?limit{{qnt_pagina}}&page={{num}}">{{num}}</a>
                </li>
              {% endif %}

              
            {% endfor %}

            {% if grammar.has_next %}
              <li class="page-item">
                <a class="page-link" href="{% url 'grammar:grammar_list'%}?limit{{qnt_pagina}}&page={{grammar.next_page_number}}">Próximo</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">Próximo</a>
              </li>
            {% endif %}
            
          </ul>
        </div>
      </div>

      
    </div>
      
  </div>
  {% else %}
    <div class="row">
      <div class='text-center mt-4'>
        <h2>Não há dados cadastrados</h2>
        <p>Para adicionar algum dado, basta clicar no botão "add" e preencher o formulário.</p>
      </div>
    </div>
    {% endif %}
    </div>
</div>
<script>
  document.getElementById('home').classList.remove('active'); // Adiciona classe

  document.getElementById('gramatica').classList.add('active'); // Remove classe
  document.getElementById('texto').classList.remove('active'); // Remove classe
  document.getElementById('vocabulario').classList.remove('active'); // Remove classe
  document.getElementById('sobre').classList.remove('active'); // Remove classe
  document.getElementById('profile').classList.remove('active'); // Remove classe
</script>
{% endblock %}