{% extends "base.html" %}
{% load static %}
{% block title %}
    Nihongo Gaido - Gramatica
{% endblock%}

{% block content %}

<div class="container">
  <div class="div-text">
    <h2 class='h2 text-center mt-4'>Lista de Gramática</h2>
    <hr>
    <div class="div-buttons"><a class="btn-add" href="{% url 'grammar:add_grammar' %}"> <i class="fa fa-plus"></i> Add nova gramática</a></div>
  </div>
  <div class="div-table">
    {% if grammar %}
    <table class="table-css">
      <thead>
        <tr>
          <th>Gramatica</th>
          <th>Estrutura</th>
          <th>Nivel</th>
          <th>Frases</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for g in grammar%}
        <tr>
          <td>{{g.gramatica}}</td>
          <td>{{g.estrutura}}</td>
          <td>{{g.nivel}}</td>
          <td><a class="btn-frase" href="{% url 'phrase:phrases_list' g.id %}">Ver frases <i class="fa fa-eye"></i></a></td>
          <td class="btn-table">
            <a class="btn-edit" href="{% url 'grammar:update' g.id %}"><i class="fa fa-edit"></i></a>
            <a id="deleteButton{{g.id}}" class="btn-delete confirm-delete" href="{% url 'grammar:delete' g.id %}" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"><i class="fa fa-trash"></i></a>
            
          </td>
        </tr>
        <div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" caller-id="" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header text-danger">
                <h5 class="modal-title" id="staticBackdropLabel">Deseja excluir?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body confirm-delete">
                Os dados serão apagados do banco de dados!<br>Dejesa apagá-los mesmo assim?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButtonModal">Delete</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class='text-center mt-4'>
        <h2>Não há dados cadastrados</h2>
      </div>
    {% endif %}
    </div>
</div>
<script>
 
</script>
{% endblock %}