{% extends "base.html" %}

{% block title %}
Adicionar gramatica - Nihongo Gaido
{% endblock title %}

{% block content %}
{% if message in messages %}
    {% for message in messages %}
        <div class="Alert {{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}
<div class="form-container-form">
    <form method="post">
        {% csrf_token %}
        <div class="inputs-grammar">
            <h2>Adicionar nova gramatica</h2>
            {% for field in form_grammar %}
                <div class="inputs-grammar-box">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <div class="btn-div">
                <input type="submit" name="grammar" value="Salvar Gramatica"/>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

