{% extends 'base.html' %}

{% block content %}
    <a class="btn btn-success mt-3 mb-3" href="{% url 'grammar:add' %}">Adicionar nova frase</a>
    <a class="btn btn-primary mt-3 mb-3" href="{% url 'grammar:grammar_list' %}">Voltar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Frases</th>
                <th>Tradução</th>
                <th>Explicação</th>
              </tr>
        </thead>

        <tbody>
            {% for f in grammar_phrase %}
            <tr>
                <td>{{f.frase}}</td>
                <td>{{f.traducao}}</td>
                <td>{{f.explicacao}}</td>
                <td>
                    <a class="btn btn-warning mt-3 mb-3" href="{% url 'grammar:update_phrase' f.id %}">Editar</a>
                    <a class="btn btn-danger mt-3 mb-3" href="{% url 'grammar:delete_phrase' f.id %}">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}