{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Frases</th>
                <th>Tradução</th>
                <th>Explicação</th>
              </tr>
        </thead>

        <tbody>
            {% for f in grammar_phrase %}
            <tr>
                <td>{{f.frase}}</td>
                <td>{{f.traducao}}</td>
                <td>{{f.explicacao}}</td>
                <td>
                    <a href="{% url 'grammar:update_phrase' f.id %}">edit</a>
                    <a href="{% url 'grammar:delete_phrase' f.id %}">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}