{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Entrar - Nihongo Gaido{% endblock %}

{% block content %}
<div>
  <div>
    <div class="container">
      <div class="mt-3">
        <div class="col-sm-12 gl-text-center">
          <img class="gl-w-10" alt="Nihongo Gaido" src="{% static 'imgs/Nihongo-Gaido-1.png' %}">
          <h1 class="mb-3 gl-font-size-h2">Nihongo Gaido</h1>
        </div>
      </div>
      <div class="mb-3">
        <div class="gl-w-half gl-xs-w-full gl-ml-auto gl-mr-auto bar">
          <div>
            <div class="tab-content">
              <div class="login-box tab-pane active">
                <div class="login-body">
                  <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <div class="gl-px-5">
                      <div class="gl-display-inline-block">
                        <div class="gl-form-checkbox custom-control custom-checkbox">
                          {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}
                              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Esqueceu a senha?</a>
                        </div>
                      </div>
                    </div>
                    <button class="primaryAction" type="submit">Entrar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}



{% endblock %}
