{% extends "base.html" %}

{% block title %}
Nihongo Gaido - Adicionar Frase
{% endblock title %}

{% block content %}
{% include "./partials/messages.html" %}
<div class="form-container-form">
    <form class="" method="POST">
        {% csrf_token %}
        <div class="inputs-grammar">
            <h2>{{g.estrutura}}</h2>
            <h5 class="text-center">{{g.gramatica}}</h5>
            <hr>
            {% for field in form %}
                <div class="inputs-grammar-box">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <div class="btn-div">
                <input type="submit" name="phrase" value="Salvar Frase"/>
            </div>
        </div>
        
    </form>
</div>
<script>
    document.getElementById('home').classList.remove('active'); // Adiciona classe
  
    document.getElementById('gramatica').classList.add('active'); // Remove classe
    document.getElementById('texto').classList.remove('active'); // Remove classe
    document.getElementById('vocabulario').classList.remove('active'); // Remove classe
    document.getElementById('sobre').classList.remove('active'); // Remove classe
    document.getElementById('profile').classList.remove('active'); // Remove classe
  </script>
{% endblock content %}

