{% extends "base.html" %}

{% block title %}
Nihongo Gaido - Adicionar Frase
{% endblock title %}

{% block content %}
<div class="form-container-form">
    <form class="" method="post">
        {% csrf_token %}
        <div class="inputs-grammar">
            <h2>Adicionar nova frase</h2>
            {% for field in form %}
                <div class="inputs-grammar-box">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <div class="btn-div">
                <input type="submit" name="phrase" value="Salvar Frase"/>
            </div>
        </div>
        
    </form>
</div>

{% endblock content %}

