{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="div-text">
            <h2 class='h2 text-center mt-4'>Lista de frases</h2>
            <hr>
            <div class="div-buttons">
                <a class="btn-add" href="{% url 'phrase:add_phrase' %}"><i class="fa fa-plus"></i> Add nova frase</a>
                <a class="btn-back" href="{% url 'grammar:grammar_list' %}"><i class="fa fa-arrow-left"></i>Voltar</a>
            </div>
        </div>
        <div class="div-table">
            {% if grammar_phrase %}
                <table class="table-css">
                    <thead>
                        <tr>
                            <th>Frases</th>
                            <th>Tradução</th>
                            <th>Opções</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for f in grammar_phrase %}
                        <tr>
                            <td>{{f.frase}}</td>
                            <td>{{f.traducao}}</td>
                            <td class="btn-table">
                                <a class="btn-edit" href="{% url 'phrase:update_phrase' f.id %}"><i class="fa fa-edit"></i></a>
                                <a class="btn-detail" href="#"><i class="fa fa-eye"></i></a>
                                <a class="btn-delete" href="{% url 'phrase:delete_phrase' f.id %}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <div class='text-center mt-4'>
                <h2>Não há dados cadastrados</h2>
            </div> 
            {% endif %}
        </div>
       
    </div>
{% endblock content %}