{% extends "base.html" %}
{% block title %}Nihongo Gaido - Escrever Texto{% endblock title %}

{% block content %}
    {% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
    {% endfor %}
    <div class="form-container-form">
        <form method="post">
            {% csrf_token %}
            <div class="inputs-text">
                <h2>Adicionar novo texto</h2>
                <hr>
                {% for field in text_form %}
                    <div class="inputs-text-box" >
                        {{text_form.media}} 
                        <label>{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <hr>
                <div class="btn-div">
                    <input type="submit" name="grammar" value="Salvar Texto"/>
                </div>
            </div> 
        </form>
    </div>
{% endblock content %}