{% extends 'base.html' %}
{% block title %}
    {{text.titulo}}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row m-5">
            <div class="col-12 mb-4">
                <a class="btn-open" href="{% url 'text:add_text_traducao' text.slug %}">Traduzir texto</a>
                <a class="btn-edit-text" href="{% url 'text:text_update' text.slug%}">Editar texto</a>
                <a class="btn-translate" href="{% url 'text:text_traducao_view' text.slug %}">Ver tradução</a>
            </div>
            <hr>
            <div class="col-8">
                {{text.texto|safe}}
            </div>
            <hr>
            <div class="col-8 div-comment">
                <h5>Comentário</h5>
                <p>{{text.comentario}}</p>
            </div>
            
        </div>
    </div>
  
    
{% endblock content %}