<div class="modal fade" id="confirmDeleteModalPhrase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" caller-id="" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header text-danger">
            <h5 class="modal-title" id="staticBackdropLabel">Deseja excluir?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body confirm-delete-phrase">
            Os dados serão apagados do banco de dados!<br>Dejesa apagá-los mesmo assim?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmDeleteButtonModalPhrase">Sim, desejo apagar</button>
        </div>
        </div>
    </div>
</div>