{% extends "base.html" %}
{% block title %}{{request.user.username}}{% endblock title %}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 30%;
	}
</style>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'pages:home' %}"> &#8592; Voltar para Home</a>
			<hr>
			<h3 style="text-align: center">{{request.user}}</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.profile.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
        <h1>Informações sobre {{request.user.first_name}}  {{request.user.last_name}}</h1>
		<div class="card card-body">
			{% for p in profile %}

                <table>
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td>{{p.user}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{p.user.email}}</td>
                        </tr>
                        <tr>
                            <td>Nome</td>
                            <td>{{p.nome}}</td>
                        </tr>
                        <tr>
                            <td>Sobrenome</td>
                            <td>{{p.user.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Telefone</td>
                            <td>{{p.telefone}}</td>
                        </tr>
                        <tr>
                            <td>Data de Nascimento</td>
                            <td>{{p.data_nascimento}}</td>
                        </tr>
                        <tr>
                            <td>Data de criação</td>
                            <td>{{p.date_created}}</td>
                        </tr>
                    </tbody>
                </table>    
            {% endfor %}
		</div>
        <br>
        <a class="btn btn-success" href="{% url 'user:profile_info' %}">Alterar informações</a>
	</div>
</div>
{% endblock content %}
