{% extends 'base.html' %}
{% block title %}
    {{texts.titulo}}
{% endblock title %}

{% block content %}
    {% include "./partials/messages.html" %}
    <div class="container">
        <div class="row mt-5">
            <hr>
            <div class="col-md-8">
                {{texts.texto|safe}}
            </div>
            <hr>
            <div class="col-md-8 div-comment">
                <h5>Comentário</h5>
                <p>{{texts.comentario}}</p>
                <hr>
                <div class="col-12 mb-4">
                    <a class="btn-edit-text" href="{% url 'text:text_escrito_w' texts.slug %}">Editar texto</a>
                </div>
            </div>
            
        </div>
    </div>
  
    <script>
        document.getElementById('home').classList.remove('active'); // Adiciona classe
      
        document.getElementById('gramatica').classList.remove('active'); // Remove classe
        document.getElementById('texto').classList.add('active'); // Remove classe
        document.getElementById('vocabulario').classList.remove('active'); // Remove classe
        document.getElementById('sobre').classList.remove('active'); // Remove classe
        document.getElementById('profile').classList.remove('active'); // Remove classe
      </script>
{% endblock content %}